# ==========================================
# 1. 先忽略根目录下的所有内容
# ==========================================
/*

# ==========================================
# 2. 排除（即：必须上传）的内容
# ==========================================
# 排除 .gitignore 自身和所有的 python 脚本
!/.gitignore
!/README.md       
!/*.py

# 排除 eye_project 文件夹及其内部的 trans_txt 文件夹
!/eye_project/
!/eye_project/trans_txt/

# 排除 SFT_rollback_no_longtail 文件夹（完整上传）
!/SFT_rollback_no_longtail/
!/SFT/
/SFT/*
!/SFT/*.py
!/SFT/*.txt
!/SFT/*.md

!/SFT/splits_qc_clean
/SFT/splits_qc_clean/train.tail_aug.images

!/RL/

# ==========================================
# 3. 针对特定文件夹的细节控制
# ==========================================

# 在 trans_txt 中忽略所有的 Excel 大文件
/eye_project/trans_txt/*.xlsx
